numpy
pandas
seaborn
matplotlib.pyplot
os
json
warnings


# mapas interactivos
folium
geopandas

#to make the plotly graphs
plotly.graph_objs
chart_studio.plotly
cufflinks


#text mining
nltk.tokenize
nltk.corpus
scikit-learn